# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

*.DS_Store
src/main/java/properties/userdata.properties
src/test/java/data/UserData.csv
src/test/java/data/UserData.xlsx
src/test/java/data/UserData.json

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# The following needs to be ignored
target/
Screenshots/
allure-report/
.vscode/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
